body {
  background: #f5f5f5;
  text-align: center;
  font-family: sans-serif;
}
video, canvas {
  width: 640px;
  height: 480px;
  border: 2px solid black;
  margin-top: 10px;
}
button {
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
}
#countdownText {
  font-weight: bold;
  text-shadow: 2px 2px #000;
}
#countdownText {
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  text-shadow: 2px 2px #000;
  color: red;
}
